
<center>

<h1>Sign Up</h1>

<%= form_with model: @user, url: users_path do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %><br><br>

  <%= form.label :email %>
  <%= form.email_field :email %><br><br>

  <%= form.label :phone %>
  <%= form.text_field :phone %><br><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br><br>

  <%= form.label :confirm %>
  <%= form.password_field :confirm_password %><br><br>

  <%= form.submit 'Sign Up' %>

<% end %>

</center>